<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">Todo App</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s6 push-s3">

    <div class="input-field col s12">
      <input id="task" type="text" class="validate" ng-keyup="$event.keyCode == 13 && addNewTask()" ng-model="taskName" autocomplete="off">
      <label for="email">Enter Tasks and press enter</label>
    </div>

    <ul class="collection with-header todo-list">
      <li class="collection-item" ng-repeat="task in taskList">
        <div>{{task.task}}
          <a href="#!" class="secondary-content">
            <input type="checkbox" id="{{task.id}}" ng-checked="isDone(task.id)" ng-disabled="isDone(task.id)" ng-click="taskDone(task.id, $event)" />
            <label for="{{task.id}}">Done</label>
          </a>
        </div>
      </li>
    </ul>

    </div>
  </div>
</div>